.Title{
    text-align: center;
}


.contenier{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 15px;
}

.content{
    width: 23%;
    display: flex;
    background-color: rgb(214, 214, 214);
    gap: 15px;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

.content:hover{
    background-color: rgba(214, 214, 214, 0.774);
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
    transition: 0.5s all;
}

.content .items{
    position: relative;
}